.container{
    display: flex;
    justify-content: center;
}
.btn{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    width: 70px;
    margin-right: 10px;
}
.btn:last-child{
    margin-right: 0px;
}
.btn:hover,
.btn:focus{
    background-color: blue;
    transition: 1s;
}